* {
  font-family: 'Times New Roman', Times, serif;
}
:root{
  --Standard:#000000;
  --Secondary:#FFFFFF;
  --Primary-Bground:#B0FFBE;
  --Card-Bground1:#919191;
  --Hiking-Bground:#66d4ffe0;
  --Packing-Bground:#FFCB7F;
  --Text-1:#000000;
  --Text-2:#FFFFFF;
  --Text-3:#532f00d0;
}

.main-body {
  background-color: var(--Primary-Bground);
  background-image: url("../images/Background1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Hiking1 {
  background-color: var(--Hiking-Bground);
}

.Hiking2 {
  color:var(--Standard);
  font-weight: bold;
}

.Packing1{
 background-color: var(--Packing-Bground);
}

.Packing2{
  color: var(--Standard);
  font-weight: bold;
}

.card {
  margin: 20px;
}

.card-title {
  text-align: center;
}

/* Future weather card carousel styling */
.prev-card, .next-card {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: fit-content;
  padding: 16px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  text-decoration: none;
  user-select: none;
}

.prev-card {
  right: 95%;
}

.next-card {
 left: 95%; 
}

/* Dev pick section carousel styling */
.hidden {
  display: none;
}

/* Next and Prev btn's */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: var(--Standard);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  text-decoration: none;
  user-select: none;
}

.prev {
  right: 90%;
}

.next {
  left: 90%;
}

/* Autocomplete code was originally provided by the geoapify api tutorial at
    https://www.geoapify.com/tutorial/address-input-for-address-validation-and-address-verification-forms-tutorial
    Some changes were made to accommodate our requirements*/
.input-container {
  display: flex;
  position: relative;
}

.input-container input {
  flex: 1;
  outline: none;
  padding-right: 31px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  background-color: #fff;
  z-index: 99;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  position: absolute;
  right: 7px;
  top: 0;

  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}

.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}
/* END Autocomplete code*/